#root {
  height: 100vh;
  width: 100vw;
  background-color: beige;
  font-family: 'Courier New', Courier, monospace;
}

.page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 15vh
}

#score {
  position: absolute;
  color: beige;
  top: 5px;
}

#container {
  height: 900px;
  width: 900px;
  background-color: rgb(47, 47, 47);
}

#inner {
  
  display: flex;
  background-color: olivedrab;
}

#button {
  position: absolute;
  font-size: xx-large;
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(213, 213, 154);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
